conda_python.sh eol=lf text
build_docs.sh eol=lf text
# All files are checked into the repo with LF
* text=auto eol=lf
*.shx binary
*.dbf binary
*.prj binary
*.qpj binary
*.shp binary
*.tif binary

# These files are checked out using CRLF locally
*.bat eol=crlf
